*{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.fix{
    padding-left: 2vw ;
}
.imgsize{
    height: 90px;
    margin: 8px;
    float: left;
}
.imgsize1{
    height: 90px;
    margin: 8px;
    float: right;
}
.textplace{
    float: left;
    line-height: 2.6;
    font-size: 40px;
}
nav{
    height: 11vh;
    letter-spacing: 2px;
    border-bottom: solid 5px black;
    background-color: rgb(5, 5, 77);
    width: 100%;
}
.floatl{
    font-size: 23px;
    padding-left: 12%;
    line-height: 5;
    float: left;
}
.floatr{
    float: right;
    padding-right: 2vw;
}
.linky{
    text-decoration: none;
    color: white;
    transition: 2s;
}
.linky1{
    text-decoration: none;
    color: white;
    transition: 2s;
}
.linky:hover{
    background-color: lightblue;
    transition: 3s;
    border-radius: 5px;
    font-size: 24.1px;
}
.linky1:hover{
    background-color: lightblue;
    transition: 1.5s;
    border-radius: 5px;
}
button{
    float: right;
    padding-right: 200px;
    padding-top: 50px;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    margin: 35px;
    font-size: 1rem;
    text-align: center;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: white;
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}
button:hover {
    background-color: rgb(192, 176, 176);
}
button:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(221, 214, 214, 0.6);
}
.tlacidlo{
    text-decoration: none;
    color:  black;
}
body{
    color: white;
}
.porche{
    background-image: url(porche.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 82.1vh;
}
footer{
    background-image: linear-gradient(to right, #000000, #19000b, #230019, #290028, #29003b, #2b004f, #270166, #0e097f, #170e9a, #2014b6, #291ad3, #3220f0);
    height: 6vh;
    font-size: 50px;
    text-align: center;
    border-top: solid black 5px;
    padding-top: 5px;
    letter-spacing: 3px;
}
nav ul li{
    float: left;
    list-style: none;
    position: relative;
}
nav ul li a{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 20px;
    padding: 0px 14px;
    margin-bottom: 0px;
    text-decoration: none;
    display: block;
    float: left;
} 
nav ul li ul{
  display: none;
  position: absolute;
  background-color: rgb(5, 5, 77);
  padding: 10px;
  border-radius: 5px;
  border-left: solid black 5px;
  border-bottom: solid black 5px;
  border-right: solid black 5px;
}
nav ul li:hover ul{
    display: block;
  }        
nav ul li ul li{
    width: 180px;
    border-radius: 5px;
    padding: -10px;
}
nav ul li ul li a:hover{
    background-color: rgb(192, 176, 176);
}

@media(max-width: 1620px){
    nav{
        height: 20vh;
    }
    .textplace{
        line-height: 3;
        font-size: 50px;
    }
    .imgsize{
        height: 120px;
        padding-top: 1vh;
    }
    .imgsize1{
        float: left;
    }
    .linky{
        font-size: 25px;
    }
    .linky1{
        font-size: 25px;
    }
    .porche{
        background-attachment: fixed;
        background-position: center bottom;
    }
}

@media(max-width: 1390px){
    .imgsize1{
        float: left;
        display: none;
    }
    button{
        margin-top: -200px;
        font-size: 30px;
    }
    .textplace{
        line-height: 2.5;
        font-size: 50px;
    }
    .linky{
        font-size: 25px;
        line-height: 3;
        margin-left: -4vw;
    }
    .linky1{
        font-size: 25px;
        line-height: 3;
        margin-left: -3vw;
    }
    .porche{
        background-attachment: fixed;
        background-position: center bottom;
    }
}

@media(max-width: 900px){

    .linky{
        font-size: 20px;
        line-height: 3;
        float:left;
        margin-left: -7vw;
    }
    .linky1{
        font-size: 20px;
        line-height: 3;
        float:center;
        margin-right: 1vw;
    }
    .porche{
        background-attachment: fixed;
        background-position: center bottom;
    }
    button{
        margin-top: -235px;
        font-size: 30px;
    }
}

@media(max-width: 730px){
    .imgsize{
        display: none;
    }
    nav{
        height: 21vh;
    }
    button{
        margin-top: -15vh;
        margin-right: 15vw;
        font-size: 20px;
    }
    .textplace{
        margin-left: 5vw;
        float: left;
    }
    .linky{
        font-size: 20px;
        line-height: 3;
        float:left;
        margin-left: -10vw;
        margin-top: 5vh;
    }
    .linky1{
        font-size: 20px;
        line-height: 3;
        float:center;
        margin-right: 1vw;
        padding-left: -3vw;
        margin-top: 5vh;
    }
    .linky:hover{
        background-color: lightblue;
        transition: 3s;
        border-radius: 5px;
        font-size: 20px;
    }
}

@media(max-width: 657px){
    button{
        margin-top: -18vh;
        margin-right: 15vw;
        font-size: 20px;
    }
    .linky{
        position: absolute;
    }
}